section.neurals.chatgpt#neurals
    div.block.animate
        div.title
            h3 ChatGPT
            span Доступ к GPT-3.5 и GPT-4 версии нейросети. Для работы с текстом и кодом.
        ul
            li Создавайте контент
            li Используйте в учебе
            li Экономьте время
            li Улучшайте текст
        button Перейти

    img(src="images/webp/example_1.webp", alt="").robot

    div.message.one.animate
        div.text
            span.green Напиши код для разработки Telegram бота, который приветствует новых подписчиков
        img(src="images/dots.svg", alt="")

    div.message.two.animate
        div.text
            span.green Конечно! Вот пример кода на языке Python для разработки Telegram бота, который приветствует новых подписчиков: 
            span ```python import telebot # Вставьте свой токен Telegram бота
            span TOKEN = 'YOUR_TELEGRAM_BOT_TOKEN'
        img(src="images/dots.svg", alt="")

    div.airtext ChatGPT