section.faq#faq

    div.title
        h2 FAQ
        span Ответы на часто задаваемые вопросы

    div.list
        div.accordion.open
            div.accordion_caption
                strong Что такое нейронная сеть?
            div.accordion_content
                div.accordion_wrap
                    div.accordion_childwrap
                        p Нейронная сеть - это компьютерная модель, вдохновленная работой человеческого мозга. Она состоит из множества соединенных между собой искусственных нейронов, которые обрабатывают информацию и выполняют сложные вычисления.
        div.accordion
            div.accordion_caption
                strong Как работает нейронная сеть?
            div.accordion_content
                div.accordion_wrap
                    div.accordion_childwrap
                        p Нейронные сети работают путем передачи данных через слои нейронов. Входные данные проходят через слои нейронов, где каждый нейрон принимает входные значения, умножает их на соответствующие веса и применяет активационную функцию. Значения затем передаются на следующий слой, где процесс повторяется, пока данные не достигнут выходного слоя и не получится окончательный результат.
        div.accordion
            div.accordion_caption
                strong Какие существуют различные типы нейронных сетей?
            div.accordion_content
                div.accordion_wrap
                    div.accordion_childwrap
                        p Существует несколько различных типов нейронных сетей, каждый из которых специализируется на определенных типах задач. Некоторые из наиболее распространенных типов включают многослойные перцептроны (MLP), сверточные нейронные сети (CNN), рекуррентные нейронные сети (RNN), глубокие вероятностные нейронные сети (DBN) и долгосрочные краткосрочные памяти (LSTM).

    button.light Начать пользоваться

    img(src="images/webp/faq.webp", alt="").robot
