section.how#how
    div.container
        div.other
            img(src="images/webp/how.webp", alt="").robot
            h3.animate Зарубежные сервисы
            ul
                li Минимальный депозит для использования 10$
                li Интерфейс и работа с нейросетями полностью на английском языке
                li Из-за блокировки пользователей РФ требуется зарубежная карта, VPN и иностранный номер телефона
                li Часто возникают ошибки с оплатой и работой из-за блокировки пользователей из РФ

        div.description
            h2.animate Как работает #[br]Нейроневод GPT?
            span.animate Предоставляем доступ к оригинальной нейросети ChatGPT 3.5 и 4.0 через OpenAi

            h3 ПЛЮСЫ НЕЙРОНЕВОДА GPT

            ul 
                li
                    img(src="images/tick.svg", alt="")
                    span Каждый пользователь получает  по 5 бесплатных запросов в ChatGPT  для ознакомления с нейросетью
                li
                    img(src="images/tick.svg", alt="")
                    span Большая вариация оплаты подписки/запросов/генераций в зависимости от потребностей пользователя
                li
                    img(src="images/tick.svg", alt="")
                    span Удобный и проработанный интерфейс полностью на русском языке.
                li
                    img(src="images/tick.svg", alt="")
                    span Для использования не нужен зарубежный телефон и  банковская карта
                li
                    img(src="images/tick.svg", alt="")
                    span Возможность использовать ChatGPT без регистрации и VPN
                li: button.light Начать пользоваться