section.main
    div.background
        img(src="images/webp/main.webp", alt="")
    div.description
        h1.animate CHATGPT
        h2.animate на русском и другие нейросети в одном месте
        span.animate Сервис работает без VPN и номера. Midjourney, Stable Diffusion, Dalle-e и Chat GPT-4/3.5.
        div.buttons.animate
            button.light использовать бесплатно
            div.rating
                span 4,6 на основе 400+ 
                div.stars
                    img(src="images/star_full.svg", alt="")
                    img(src="images/star_full.svg", alt="")
                    img(src="images/star_full.svg", alt="")
                    img(src="images/star_full.svg", alt="")
                    img(src="images/star_half.svg", alt="")