section.neurals.midjourney
    div.block.animate
        div.title
            h3 midjounrey #[br]и dall-e
            span Искусственный интеллект нарисует картинку по описанию. В боте доступны Midjourney v6 и Dall-e 3.
        ul
            li Фантазируйте 
            li Создавайте контент
            li.onlydesktop
            li Экономьте время
        button Перейти

    img(src="images/webp/example_2.webp", alt="").image
    img(src="images/webp/example_3.webp", alt="").robot

    div.message.one
        div.text
            span Вот этот шедевр я могу предложить вашемувниманию 
        img(src="images/dots.svg", alt="")

    div.message.two
        div.text
            span.green Нарисуй мне кошку акварелью
        img(src="images/dots.svg", alt="")

    div.airtext.one Midjourney
    div.airtext.two и Dall-e

    button.light Присоединяйтесь