section.price#price
    div.title
        h2 Наши тарифы
        span Дарим 5 бесплатных запросов для ChatGPT для ознакомления с нейросетью и 5 ежедневных генерацийв Midjourney
    div.neurals
        div.neural.animate
            img(src="images/webp/chatgpt.webp", alt="")
            h3 ChatGPT
            span без ограничений по сроку использования
        div.neural.animate
            img(src="images/webp/midjourney.webp", alt="")
            h3 Midjourney
            span без ограничений по сроку использования
        div.neural.animate
            img(src="images/webp/dall-e.webp", alt="")
            h3 Dall-e
            span без ограничений по сроку использования
        div.neural.animate
            img(src="images/webp/unlimit.webp", alt="")
            h3 Безлимит
            span без ограничений по сроку использования
        div.neural.animate
            img(src="images/webp/calendar.webp", alt="")
            h3 Ежемесячная подписка
            span без ограничений по сроку использования
    div.tarrifs.tabs
        div.choose
            span Выберите тариф
            div.list
                div.tab_caption.opened BASIC
                div.tab_caption Standart
                div.tab_caption Pro
            span *Работа ведется через телеграмм бота
        div.details
            div.tab_content.opened
                div.options
                    span 20 генераций в день Midjourney
                    span 20 запросов в день ChatGPT
                span.price 4 999 ₽
                button.light Попробовать бесплатно
            div.tab_content
                div.options
                    span 40 генераций в день Midjourney
                    span 40 запросов в день ChatGPT
                span.price 9 999 ₽
                button.light Попробовать бесплатно
            div.tab_content
                div.options
                    span 100 генераций в день Midjourney
                    span 100 запросов в день ChatGPT
                span.price 15 999 ₽
                button.light Попробовать бесплатно
