section.reviews#reviews
    h2 Отзывы
    div.list
        div.review
            img(src="images/webp/avatar_1.webp", alt="")
            span.name Надежда
            span.mail @weetsvet
            hr
            span.text Спасибо за бот! Использовала для копирайта в соцсетях, подкинул классные идеи для рубрик) Работает быстрее, чем обычный и не тупит, так как не нужен VPN
        div.review
            img(src="images/webp/avatar_5.webp", alt="")
            span.name Павел
            span.mail @weetsvet
            hr
            span.text Спасибо за бот! Использовала для копирайта в соцсетях, подкинул классные идеи для рубрик) Работает быстрее, чем обычный и не тупит, так как не нужен VPN
        div.review
            img(src="images/webp/avatar_4.webp", alt="")
            span.name Надежда
            span.mail @weetsvet
            span.text Спасибо за бот! Использовала для копирайта в соцсетях, подкинул классные идеи для рубрик) Работает быстрее, чем обычный и не тупит, так как не нужен VPN
        div.review
            img(src="images/webp/avatar_3.webp", alt="")
            span.name Александр
            span.mail @weetsvet
            span.text Спасибо за бот! Использовала для копирайта в соцсетях, подкинул классные идеи для рубрик) Работает быстрее, чем обычный и не тупит, так как не нужен VPN
        div.review
            img(src="images/webp/avatar_2.webp", alt="")
            span.name Светлана
            span.mail @weetsvet
            span.text Спасибо за бот! Использовала для копирайта в соцсетях, подкинул классные идеи для рубрик) Работает быстрее, чем обычный и не тупит, так как не нужен VPN
        div.review
            img(src="images/webp/avatar_6.webp", alt="")
            span.name Сергей
            span.mail @weetsvet
            span.text Спасибо за бот! Использовала для копирайта в соцсетях, подкинул классные идеи для рубрик) Работает быстрее, чем обычный и не тупит, так как не нужен VPN
    a.button Смотреть еще
