extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/index.css")

block content
    include sections/index/_main.pug
    include sections/index/_chatgpt.pug
    include sections/index/_midjourney.pug
    include sections/index/_how.pug
    include sections/index/_reviews.pug
    include sections/index/_price.pug
    include sections/index/_faq.pug