footer
    a(href="index.html").logotype: img(src="images/logotype.svg", alt="")
    menu
        a(href="###") Возможности
        a(href="###") Преимущества
        a(href="###") Тарифы
        a(href="###") Отзывы
        a(href="###") Блог
        a(href="###") FAQ
    div.bottom
        span.copyright © 2022 — 2024 Все права защищены.
        span.note Оплачивая тариф и/или начиная использовать настоящий сервис Вы соглашаетесь с #[a(href="###") условиями оферты]
        a(href="###").mwi: img(src="images/mwi_logotype.svg", alt="")
        a(href="###").social: include ../../images/telegram.svg