header
    div.container
        a(href="index.html").logotype: img(src="images/logotype.svg", alt="")
        menu
            a(href="#neurals") Возможности
            a(href="#how") Преимущества
            a(href="#reviews") Отзывы
            a(href="#price") Тарифы
            a(href="###") Блог
            a(href="#faq") FAQ
        div.buttons
            button Начать пользоваться
            a(href="###").social
                include ../../images/telegram.svg
        div.menu(onclick="showMenu()")
            include ../../images/menu.svg

    section.menu
        div.container
            div.mobile_menu
                a(href="###") Возможности
                a(href="###") Преимущества
                a(href="###") Тарифы
                a(href="###") Отзывы
                a(href="###") Блог
                a(href="###") FAQ